<ul class="nav nav-tabs justify-content-end mt-3">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/list']">Go to Polls</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/logout">Logout</a>
  </li>
</ul>
<h2 class="p-3 mt-4 bg-warning rounded">{{poll?.question}}</h2>
<h5 class="text-muted font-italic mt-4">Click on the Vote button to choose one.</h5>
<table class="table table-striped table-inverse rounded">
  <thead>
    <tr>
      <th>Option</th>
      <th>Current Vote Tally</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let option of poll?.options">
      <td scope="row">{{option.option}}</td>
      <td>{{option.votes}}</td>
      <td>
          <button class="btn btn-warning btn-sm" (click)="addVote(option._id)">Vote</button>
      </td>
  </tr>
  </tbody>
</table>